body {
  font-size: 30px;
  background-color: #CCCCCC;
}

div {
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  line-height: 200px;
  background-color: rgb(132, 0, 255);
  color: #FCFCFC;
}